h3.encabezado{
    padding-left: 44%;
    padding-right: 44%;


}

ol {

    /*margin-left: 40%;
    margin-right: 40% ;*/
    padding-left: 44%;
    /*padding-right: 44%;*/
    /*text-align: center;*/
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;  
}